// START COLOR MAIN
$main-header: #FF9E62;
$main: #FF765E;
$sub-main: #EBF8FF;
$gamboge: #F0910A;
$hover-list: #E76C26;
// END COLOR MAIN

$punch: #dc3545;
$white: #FFFFFF;
$sub-main: #FFDDC8;
$silver-chalice: #A6A3A3;
$mine-shaft: #252525;
$di-serria: #DB944B;
$mine-shaft: #3F3F3F;
$mischka: #ced4da;
$manatee: #9398a2;
$dusty-gray: #999999;
$swiss-coffee: #DCCECE;
$alto: #D9D9D9;
$wild-sand: #F5F5F5;
$sirocco: #747575;
$black: #000000;
$geyser: #dee2e6;
$shark: #303133;
$gray: #8F8F8F;
$wattle: #E1D353;
$abbey: #495057;
$squirrel: #8B7E74;

// List-shift
$working-day: #FFFFFF;
$holiday: #EAE7AC;
$fixed-day-off: #C8B08D;
$day-off-request: #EDD1A7;
$paid: #EEAAAA;

// Day off
$day-off-fixed-day-off: #FFE5CD;
$day-off-request: #FFFCE2;
$day-off-paid: #FFD4D4;
$day-off-default: #FFFFFF;
$gallery: #EFEFEF;

$font-ibarra-real-nova: 'Ibarra Real Nova';
$font-josefin-sans: 'Josefin Sans';
$font-inter: 'Inter';
$font-roboto: 'Roboto';
